# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore spm results folder
SPM/results/
# Ignore plot folders in fitting
!Modelling/Fitting/
!Modelling/Fitting/bestFittingVals/
Modelling/Fitting/*
# Ignore pdf files, png, pycache, matlab, npy, tsv
*.pdf
*.png
*.pyc
#*.mat
#*.npy
#*.tsv