# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore spm folder
SPM/
!SPM/code/
# Ignore plot folders in fitting
Modelling/Fitting/*/
!Modelling/Fitting/bestFittingVals/
# Ignore pdf files, png, pycache, matlab, npy, tsv
#*.pdf
*.png
*.pyc
*.nii
*.gz
._*
*.hdr
*.img
#*.mat
#*.npy
#*.tsv
!Modelling/Fitting/bestFittingVals/*.pdf
Modelling/Decoding/run_encoding/
Modelling/Decoding/run_glms/
Modelling/Decoding/run_surf2img/
Modelling/Decoding/braincoder/